* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font:
    var(--f-size-base) / var(--line-height-base) "Roboto",
    sans-serif;
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: var(--black);
  overflow-x: clip;
}

[hidden],
.d-none {
  display: none !important;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background: 0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;

  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  display: block;
  padding: 0;
  font: inherit;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
}

textarea {
  resize: vertical;
}

ul li {
  list-style: none;
}

select {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  transition: 200ms;
}

svg,
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

* {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 6px;
    background-color: #cccccc;
    border-radius: 10px;
    border: none;
  }
}
